.RoomDetailPage {
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-Inputs {
        text-align: left;
        margin-top: 40px;
    }

    &-AddRoomInputs {
        display: flex;
        flex-direction: column;
    }

    .btn-primary {
        margin-top: 30px;
    }

    &-GoBack {
        margin-bottom: 30px;
    }

    input {
        min-height: 44px;
        border-radius: 4px;
        border: 1px solid #a4a4a4;
        padding: 4px;
    }

    input[type=checkbox],
    input[type=radio] {
        margin-right: 10px;
        min-height: 20px;
    }

    &-InputContainer {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
    }

    &-InputLabel {
        white-space: nowrap;
        margin: 0 10px 0 0;
    }

    &-RowData {
        display: flex;
        align-items: center;

        .RoomDetailPage {
            &-InputContainer {
                margin: 0;
            }

            &-InputLabel {
                white-space: nowrap;
                margin: 0 20px 0 0;
            }
        }
    }

    &-ImageContainer {
        position: relative;
    }

    &-Sensor {
        position: absolute;
        padding: 8px;
        background: white;
        border: 1px solid black;
        border-radius: 5px;
        z-index: 1;
    }
}
